@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), var(--font-noto-devanagari), sans-serif;
  --font-hindi: var(--font-noto-devanagari), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.maplibregl-popup-content {
  border-radius: 12px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  padding: 0;
  overflow: hidden;
}

.maplibregl-popup-close-button {
  color: white;
  padding: 6px 10px;
  font-size: 18px;
  background: rgba(0,0,0,0.1);
  border-bottom-left-radius: 8px;
}
.maplibregl-popup-close-button:hover {
  background: rgba(0,0,0,0.3);
}
